<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>class-25</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Header of a Website</h1>
    <div class="topnav">
        <a href=""><b>Home</b></a>
        <a href=""><b>About</b></a>
        <a href=""><b>More</b></a>

    </div>
    <h2>INPUT FILE WITH ICON INSIDE</h2>
    <input type="text" placeholder="Search">

    <div class="row">
        <div class="column">
            <h2>Fist Column</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta eligendi optio labore voluptatem, cupiditate eum repellendus veritatis, odio molestias dolore hic beatae corporis est nesciunt, illo quisquam perspiciatis tempore eveniet iste possimus? Quas quo natus cupiditate, quia veritatis. Illo perferendis quibusdam recusandae repellat quisquam impedit iure inventore modi similique culpa? Et, maxime doloribus aspernatur dolorem, cumque dignissimos. Tempora enim veniam modi natus molestiae quidem impedit, magnam quod ea, ut reiciendis.</p>
        </div>

        <div class="column">
            <h2>Second Column</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nulla, consectetur iste nostrum temporibus excepturi, nobis labore ex provident? Animi explicabo debitis quia enim obcaecati, deleniti nulla nam vel quaerat alias inventore nemo modi aut accusamus ipsa beatae. Quis distinctio amet ratione rerum, laboriosam similique suscipit eligendi ullam totam, molestiae quisquam delectus quod, voluptatibus autem cumque ad quasi. Reprehenderit modi fugit temporibus eius sequi eum veniam quae molestiae magni vel.</p>
        </div>

        <div class="column">
            <h2>Third Column</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere itaque modi sapiente, magnam inventore quidem ullam optio placeat culpa qui ipsam, maiores libero maxime tenetur alias totam iure dolor. Animi necessitatibus ipsa sit aliquid inventore quos, iure saepe illo rem ratione laborum nihil quisquam sapiente magni ad maiores nobis quidem voluptatem, quis culpa qui earum modi neque delectus incidunt. Fugiat repudiandae est natus porro sequi, eaque deserunt maxime quaerat. Quo.</p>
        </div>
    </div>

    <div class="footer">
        <p><b>Footer</b></p>
    </div>
</body>

</html>
