* {
    background: #e5cfd3;
}

p {
    color: rgb(170, 11, 255);
}

#para {
    color: black;
}

h4 {
    background: rgba(128, 0, 128, 0.4);
    display: inline;
}

h2 {
    background: blue;
    display: inline-block;
}

/* 
shudhu inline hole height-weight kaaj kore na.
span tag block tag na inline element.
*/
#first {
    width: 100px;
    height: 100px;
    background: #740c1e;
    display: inline-block;
}

#v {
    width: 100px;
    height: 100px;
    background: #ccb2b7;

    //display: none;/* ekhetre completely hide hoi r jaigao dekha jai na.
    */ //visibility: hidden; /* ekhetre properties hide hoi, but propertity'r jaiga ta dekha jai
    */
}

span {
    background: #2705b7;
    padding: 5px;
}

#A {
    background: #71bdcb;
    height: 25px;
    width: 50px;
    text-align: center;
    /* 
text-align tokhon e kaaj korbe jokhon display inline block use korbe...shudhu inline er jonnno text align er kono kaaj nei
*/
    display: inline-block;
}

#B {
    background: rgba(172, 69, 156, 0.71);
    text-align: center;
    display: block;
}

/* 
eta website logo gula order wise kore pore inline e anar jonno use hoi.
*/
ul li {
    display: inline;
}

#w1 {

    border: 3px solid green;
}

.width {
    width: 300px;
}

.max-width {
    max-width: 30%;
    margin: auto;
}

#fix {
    color: black;
}



.position1 {
    width: 200px;
    height: 200px;
    background: #b55a6a;
    position: static;
    top: 15px;
    text-align: center;
}

.position2 {
    /* 
position,top, left ...ey shob first e use korte hobe.
absolute top hishabe pura screen(body) er top dhore nae.
*/
    position: absolute;
    top: 1200px;
    left: 100px;
    /* 
jodi margin : auto kore majkhane ante chai ..tobe left: 0  and right: 0 korte hobe.
*/
    width: 200px;
    height: 200px;
    background: #b55a6a;
    text-align: center;
}

.position3 {
    width: 200px;
    height: 200px;
    background: #b55a6a;
    position: relative;
    left: 100px;
    top: 300px;
    /* 
relative static er motho default position k top dhore nae j position theke mainly relative er div shuru hoiyeche.
*/
    text-align: center;
}

.demoabsolute {
    height: 70px;
    width: 70px;
    background: #dd9d9d;
    position: absolute;
    /* 
parent div hobe ey div er left,right,top and bottom ..er shapekkhe change hobe.
*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20%;
}
